// Colors
$dark-blue: #003249;
$normal-blue: #007EA7;
$medium-blue: #80CED7;
$light-blue: #9AD1D4;
$white-blue: #CCDBDC;
$off-white: darken($white-blue, 20%);

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;